* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #f8f8f8;
}

#main {
    height: 100%;
    width: 100%;
    position: relative;
    padding-top: 0.1px;
    /* I want to give margin top to the nav, that's why I apply 0.1 px of gap in #main because if I don't then main will also move with nav from the top.(It's a CSS bug) */
}

#nav {
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 6vh;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h1 {
    /* background-color: aquamarine; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 45px;
}

#nav h2 {
    /* background-color: aquamarine; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 22px;
    font-weight: 400;
    /* background-color: aqua; */
}

#nav h2:nth-last-child(1) {
    width: 10%;
}

#nav h2:nth-last-child(2) {
    width: 29%;
}

#center {
    height: 90%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding: 4vw;
}

#content {
    height: 100%;
    width: 100%;
    background-color: blue;
    position: relative;
}

#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay {
    /* background-color: aqua; */
    height: 52%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 3vw;
    /* background-color: rgba(0, 0, 0, 0.154);
    backdrop-filter: blur(5px);  Blur Effect*/
}

#over1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 2vw;
}

#over1 h1 {
    font-family: 'Rowdies', sans-serif;
    font-size: 3.6vw;
    /* mix-blend-mode: difference; */
}

#over1 h2 {
    font-size: 1vw;
    padding: 2vw 2.2vw;
    border-radius: 50%;
    border: 1px solid #fff;
}

#over2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1.5vw 0;
    color: #fff;
}

#over2 h4 {
    font-size: 1.3vw;
    font-weight: 500;
}

#over2 img {
    height: 5vw;
}